In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
cricket_df = pd.read_csv("D:/ODI data.csv")

In [3]:
cricket_df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [4]:
cricket_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  2500 non-null   object
 1   Span    2500 non-null   object
 2   Mat     2500 non-null   int64
 3   Inns    2500 non-null   object
 4   NO      2500 non-null   object
 5   Runs    2500 non-null   object
 6   HS      2500 non-null   object
 7   Ave     2500 non-null   object
 8   BF      2500 non-null   object
 9   SR      2500 non-null   object
 10  100     2500 non-null   object
 11  50      2500 non-null   object
 12  0       2500 non-null   object
dtypes: int64(1), object(12)
memory usage: 254.0+ KB

In [5]:
cricket_df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0'],
      dtype='object')

In [6]:
cricket_df.isnull().sum()

Player    0
Span      0
Mat       0
Inns      0
NO        0
Runs      0
HS        0
Ave       0
BF        0
SR        0
100       0
50        0
0         0
dtype: int64

In [7]:
cricket_df[cricket_df["Ave"]== "-"]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
1466,BT Foakes (ENG),2019-2019,1,1,1,61,61*,-,76,80.26,0,1,0
1493,BM Wheeler (NZ),2015-2015,6,4,4,58,39*,-,47,123.4,0,0,0
1508,FY Fazal (INDIA),2016-2016,1,1,1,55,55*,-,61,90.16,0,1,0
1570,SS Tiwary (INDIA),2010-2010,3,2,2,49,37*,-,56,87.5,0,0,0
1682,TS Roland-Jones (ENG),2017-2017,1,1,1,37,37*,-,37,100,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-
2496,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-
2497,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-
2498,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-
2499,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-

In [8]:
cricket_df.shape

(2500, 13)

In [9]:
cricket_df.replace('-',1,inplace=True)

In [10]:
cricket_df[cricket_df["Ave"]== "-"]

Empty DataFrame
Columns: [Player, Span, Mat, Inns, NO, Runs, HS, Ave, BF, SR, 100, 50, 0]
Index: []

In [11]:
cricket_df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.2,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [12]:
cricket_df.HS.dtypes

dtype('O')

In [13]:
cricket_df_dummies = pd.get_dummies(cricket_df.Player)

In [14]:
cricket_df_dummies.columns

Index(['A Bagai (CAN)', 'A Balbirnie (IRE)', 'A Bhandari (INDIA)',
       'A Codrington (CAN)', 'A Dananjaya (SL)', 'A Flintoff (ENG/ICC)',
       'A Flower (ZIM)', 'A Jadeja (INDIA)', 'A Kumble (Asia/INDIA)',
       'A Kuruvilla (INDIA)',
       ...
       'Zakir Hossain (BDESH)', 'Zakir Khan (PAK)', 'Zakiullah Zaki (AFG)',
       'Zeeshan Maqsood (OMAN)', 'Zeeshan Siddiqi (CAN)',
       'Ziaur Rahman (BDESH)', 'Zulfiqar Ali (EAf)', 'Zulfiqar Babar (PAK)',
       'Zulqarnain (PAK)', 'Zulqarnain Haider (PAK)'],
      dtype='object', length=2499)

In [15]:
print(cricket_df_dummies)

      A Bagai (CAN)  A Balbirnie (IRE)  A Bhandari (INDIA)  \
0                 0                  0                   0
1                 0                  0                   0
2                 0                  0                   0
3                 0                  0                   0
4                 0                  0                   0
...             ...                ...                 ...
2495              0                  0                   0
2496              0                  0                   0
2497              0                  0                   0
2498              0                  0                   0
2499              0                  0                   0

      A Codrington (CAN)  A Dananjaya (SL)  A Flintoff (ENG/ICC)  \
0                      0                 0                     0
1                      0                 0                     0
2                      0                 0                     0
3                      0                 0                     0
4                      0                 0                     0
...                  ...               ...                   ...
2495                   0                 0                     0
2496                   0                 0                     0
2497                   0                 0                     0
2498                   0                 0                     0
2499                   0                 0                     0

      A Flower (ZIM)  A Jadeja (INDIA)  A Kumble (Asia/INDIA)  \
0                  0                 0                      0
1                  0                 0                      0
2                  0                 0                      0
3                  0                 0                      0
4                  0                 0                      0
...              ...               ...                    ...
2495               0                 0                      0
2496               0                 0                      0
2497               0                 0                      0
2498               0                 0                      0
2499               0                 0                      0

      A Kuruvilla (INDIA)  ...  Zakir Hossain (BDESH)  Zakir Khan (PAK)  \
0                       0  ...                      0                 0
1                       0  ...                      0                 0
2                       0  ...                      0                 0
3                       0  ...                      0                 0
4                       0  ...                      0                 0
...                   ...  ...                    ...               ...
2495                    0  ...                      0                 0
2496                    0  ...                      0                 0
2497                    0  ...                      0                 0
2498                    0  ...                      0                 0
2499                    0  ...                      0                 0

      Zakiullah Zaki (AFG)  Zeeshan Maqsood (OMAN)  Zeeshan Siddiqi (CAN)  \
0                        0                       0                      0
1                        0                       0                      0
2                        0                       0                      0
3                        0                       0                      0
4                        0                       0                      0
...                    ...                     ...                    ...
2495                     0                       0                      0
2496                     0                       0                      0
2497                     0                       0                      0
2498                     0                       0                      0
2499                     0                       0                      0

      Ziaur Rahman (BDESH)  Zulfiqar Ali (EAf)  Zulfiqar Babar (PAK)  \
0                        0                   0                     0
1                        0                   0                     0
2                        0                   0                     0
3                        0                   0                     0
4                        0                   0                     0
...                    ...                 ...                   ...
2495                     0                   0                     0
2496                     0                   0                     0
2497                     0                   0                     0
2498                     0                   0                     0
2499                     0                   0                     0

      Zulqarnain (PAK)  Zulqarnain Haider (PAK)
0                    0                        0
1                    0                        0
2                    0                        0
3                    0                        0
4                    0                        0
...                ...                      ...
2495                 0                        0
2496                 0                        0
2497                 0                        0
2498                 0                        0
2499                 0                        0

[2500 rows x 2499 columns]

In [16]:
cricket_df_dummies['SR Tendulkar (INDIA)'].value_counts()

0    2499
1       1
Name: SR Tendulkar (INDIA), dtype: int64

In [17]:
cricket_df.Ave = cricket_df.Ave.astype(float)

In [18]:
cricket_df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR',
       '100', '50', '0'],
      dtype='object')

In [19]:
cricket_df.Inns = cricket_df.Inns.astype(int)
cricket_df.NO = cricket_df.NO.astype(int)
cricket_df.Runs = cricket_df.Runs.astype(int)
cricket_df.BF = cricket_df.BF.astype(int)
cricket_df.SR = cricket_df.SR.astype(float)

In [20]:
cricket_df = cricket_df.rename(columns={'100': 'Hundereds', '50': 'Fiftys','0':'Zeros'})

In [21]:
cricket_df.Hundereds = cricket_df.Hundereds.astype(float)
cricket_df.Fiftys = cricket_df.Fiftys.astype(float)
cricket_df.Zeros = cricket_df.Zeros.astype(float)

In [22]:
cricket_df["Run"] = cricket_df["Runs"]//cricket_df["Inns"]

In [23]:
cricket_df.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,Hundereds,Fiftys,Zeros,Run
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49.0,96.0,20.0,40
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25.0,93.0,15.0,37
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30.0,82.0,20.0,37
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28.0,68.0,34.0,31
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19.0,77.0,28.0,30

In [24]:
df1 = pd.concat([cricket_df,cricket_df_dummies],axis='columns')
df1.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,...,Zakir Hossain (BDESH),Zakir Khan (PAK),Zakiullah Zaki (AFG),Zeeshan Maqsood (OMAN),Zeeshan Siddiqi (CAN),Ziaur Rahman (BDESH),Zulfiqar Ali (EAf),Zulfiqar Babar (PAK),Zulqarnain (PAK),Zulqarnain Haider (PAK)
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,...,0,0,0,0,0,0,0,0,0,0
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,...,0,0,0,0,0,0,0,0,0,0
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,...,0,0,0,0,0,0,0,0,0,0
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,...,0,0,0,0,0,0,0,0,0,0
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df2= df1.drop(columns = ["Player",'HS','Span'])

In [26]:
df2.Run

0       40
1       37
2       37
3       31
4       30
        ..
2495     1
2496     1
2497     1
2498     1
2499     1
Name: Run, Length: 2500, dtype: int32

In [27]:
df2.shape

(2500, 2510)

In [28]:
df2.head()

,Mat,Inns,NO,Runs,Ave,BF,SR,Hundereds,Fiftys,Zeros,...,Zakir Hossain (BDESH),Zakir Khan (PAK),Zakiullah Zaki (AFG),Zeeshan Maqsood (OMAN),Zeeshan Siddiqi (CAN),Ziaur Rahman (BDESH),Zulfiqar Ali (EAf),Zulfiqar Babar (PAK),Zulqarnain (PAK),Zulqarnain Haider (PAK)
0,463,452,41,18426,44.83,21367,86.23,49.0,96.0,20.0,...,0,0,0,0,0,0,0,0,0,0
1,404,380,41,14234,41.98,18048,78.86,25.0,93.0,15.0,...,0,0,0,0,0,0,0,0,0,0
2,375,365,39,13704,42.03,17046,80.39,30.0,82.0,20.0,...,0,0,0,0,0,0,0,0,0,0
3,445,433,18,13430,32.36,14725,91.20,28.0,68.0,34.0,...,0,0,0,0,0,0,0,0,0,0
4,448,418,39,12650,33.37,16020,78.96,19.0,77.0,28.0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Columns: 2510 entries, Mat to Zulqarnain Haider (PAK)
dtypes: float64(5), int32(5), int64(1), uint8(2499)
memory usage: 6.1 MB

In [30]:
X = df2.drop(columns = ["Run" ,"Runs", "Mat", "Inns","NO"])
X.head()

,Ave,BF,SR,Hundereds,Fiftys,Zeros,A Bagai (CAN),A Balbirnie (IRE),A Bhandari (INDIA),A Codrington (CAN),...,Zakir Hossain (BDESH),Zakir Khan (PAK),Zakiullah Zaki (AFG),Zeeshan Maqsood (OMAN),Zeeshan Siddiqi (CAN),Ziaur Rahman (BDESH),Zulfiqar Ali (EAf),Zulfiqar Babar (PAK),Zulqarnain (PAK),Zulqarnain Haider (PAK)
0,44.83,21367,86.23,49.0,96.0,20.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,41.98,18048,78.86,25.0,93.0,15.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,42.03,17046,80.39,30.0,82.0,20.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,32.36,14725,91.20,28.0,68.0,34.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,33.37,16020,78.96,19.0,77.0,28.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
Y = df2.Run

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test=train_test_split(X,Y , test_size = 0.2 , random_state = 0)

In [34]:
X_train.shape

(2000, 2505)

# LinearRegression

In [35]:
from sklearn.linear_model import LinearRegression

In [37]:
model_LR = LinearRegression()

In [38]:
model_LR.fit(X_train, y_train)

LinearRegression()

In [39]:
model_LR.score(X_test, y_test)

0.8646875173479234

In [40]:
model_LR.score(X_train,y_train)

1.0

In [41]:
data_train = pd.concat([X_train, y_train], axis=1)
data_train.head()

,Ave,BF,SR,Hundereds,Fiftys,Zeros,A Bagai (CAN),A Balbirnie (IRE),A Bhandari (INDIA),A Codrington (CAN),...,Zakir Khan (PAK),Zakiullah Zaki (AFG),Zeeshan Maqsood (OMAN),Zeeshan Siddiqi (CAN),Ziaur Rahman (BDESH),Zulfiqar Ali (EAf),Zulfiqar Babar (PAK),Zulqarnain (PAK),Zulqarnain Haider (PAK),Run
286,26.37,2155,70.99,1.0,12.0,5.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25
1495,14.25,77,74.02,0.0,0.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,14
40,34.92,9760,72.64,16.0,41.0,19.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,32
1106,9.85,241,57.26,0.0,0.0,2.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,6
1379,25.00,124,60.48,0.0,1.0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,25

In [42]:
X_train.columns

Index(['Ave', 'BF', 'SR', 'Hundereds', 'Fiftys', 'Zeros', 'A Bagai (CAN)',
       'A Balbirnie (IRE)', 'A Bhandari (INDIA)', 'A Codrington (CAN)',
       ...
       'Zakir Hossain (BDESH)', 'Zakir Khan (PAK)', 'Zakiullah Zaki (AFG)',
       'Zeeshan Maqsood (OMAN)', 'Zeeshan Siddiqi (CAN)',
       'Ziaur Rahman (BDESH)', 'Zulfiqar Ali (EAf)', 'Zulfiqar Babar (PAK)',
       'Zulqarnain (PAK)', 'Zulqarnain Haider (PAK)'],
      dtype='object', length=2505)

In [43]:
import statsmodels.formula.api as smf

In [45]:
lm1 = smf.ols(formula= 'Run ~ Ave+BF+SR', data = data_train).fit()
lm1.params

Intercept   -0.031855
Ave          0.723336
BF           0.000482
SR           0.018042
dtype: float64

In [46]:
print(lm1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    Run   R-squared:                       0.824
Model:                            OLS   Adj. R-squared:                  0.824
Method:                 Least Squares   F-statistic:                     3124.
Date:                Sun, 24 Apr 2022   Prob (F-statistic):               0.00
Time:                        14:41:37   Log-Likelihood:                -5954.6
No. Observations:                2000   AIC:                         1.192e+04
Df Residuals:                    1996   BIC:                         1.194e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0319      0.277     -0.115      0.909      -0.576       0.512
Ave            0.7233      0.010     73.801      0.000       0.704       0.743
BF             0.0005   5.95e-05      8.109      0.000       0.000       0.001
SR             0.0180      0.004      4.168      0.000       0.010       0.027
==============================================================================
Omnibus:                      889.617   Durbin-Watson:                   1.926
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            59720.167
Skew:                           1.243   Prob(JB):                         0.00
Kurtosis:                      29.655   Cond. No.                     5.81e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.81e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Decision Tree Regression

In [47]:
from sklearn.tree import DecisionTreeRegressor

In [62]:
model_DTR=DecisionTreeRegressor(splitter='random')

In [63]:
model_DTR.fit(X_train,y_train)

DecisionTreeRegressor(splitter='random')

In [64]:
model_DTR.score(X_test,y_test)

0.8570443884907809

In [65]:
model_DTR.score(X_train,y_train)

1.0

In [84]:
X_train.columns

Index(['Ave', 'BF', 'SR', 'Hundereds', 'Fiftys', 'Zeros', 'A Bagai (CAN)',
       'A Balbirnie (IRE)', 'A Bhandari (INDIA)', 'A Codrington (CAN)',
       ...
       'Zakir Hossain (BDESH)', 'Zakir Khan (PAK)', 'Zakiullah Zaki (AFG)',
       'Zeeshan Maqsood (OMAN)', 'Zeeshan Siddiqi (CAN)',
       'Ziaur Rahman (BDESH)', 'Zulfiqar Ali (EAf)', 'Zulfiqar Babar (PAK)',
       'Zulqarnain (PAK)', 'Zulqarnain Haider (PAK)'],
      dtype='object', length=2505)

# Random Forest Regressor

In [59]:
from sklearn.ensemble import RandomForestRegressor

In [67]:
model_RF=RandomForestRegressor(n_estimators=500)

In [68]:
model_RF.fit(X_train,y_train)

RandomForestRegressor(n_estimators=500)

In [69]:
model_RF.score(X_test,y_test)

0.8859129800002854

# Prediction Starts

In [82]:
def predict_run(Player, Ave, BF, SR,Hundereds,Fiftys,Zeros):    
    loc_index = np.where(X.columns==Player)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = Ave
    x[1] = BF
    x[2] = SR
    x[3] = Hundereds
    x[4] = Fiftys
    x[5] = Zeros
    if loc_index >= 0:
        x[loc_index] = 1
    return round (model_RF.predict([x])[0])

In [83]:
predict_run("ST Jayasuriya (Asia/SL)", 90,20,200,50,100,10)

46